* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: poppins, arial;
  background: linear-gradient(to bottom left, lightpink, lightblue);
  height: 100%;
  color: white;
}

strong {
  font-size: 1.8rem;
  font-weight: 400;
}
label {
  font-size: 2rem;
  font-weight: 300;
}
ion-icon {
  font-size: 4rem;
  vertical-align: middle;
}
h1 {
  font-size: 4rem;
  font-weight: 500;
}
button {
  font-family: poppins;
  font-size: 2rem;
  font-weight: 500;
}
